## Contents

* Arithmetic in R
* Variables in R
* Print in R
* R Data types
    * Numeric
    * Boolean
    * Character
* Vectors
    * Basics
    * Operations
    * Indexing and sclicing
* Comparison Operator
* R Matrices
    * Creating Matrix
    * Arithmetic
    * Operations
    * Selection and Indexing
    * Factor and Categorical Metrics
* R Data Frames
    * Basics
    * Indexing and Selection
    * Operations
* R Lists
* R Input and Output
    * CSV files
    * Excel files
    * SQL

In [1]:
R.Version()

$platform
[1] "x86_64-w64-mingw32"

$arch
[1] "x86_64"

$os
[1] "mingw32"

$system
[1] "x86_64, mingw32"

$status
[1] ""

$major
[1] "3"

$minor
[1] "3.2"

$year
[1] "2016"

$month
[1] "10"

$day
[1] "31"

$`svn rev`
[1] "71607"

$language
[1] "R"

$version.string
[1] "R version 3.3.2 (2016-10-31)"

$nickname
[1] "Sincere Pumpkin Patch"

## Arithmetic with R

#### Addition

In [7]:
1+2

[1] 3

#### Substraction

In [8]:
5-3

[1] 2

#### Division

In [9]:
10/2

[1] 5

#### Exponents

In [10]:
2^3

[1] 8

#### Modulo

In [11]:
5%%3

[1] 2

#### Order of Operations

In [12]:
(10 * 2) + (50 / 2)

[1] 45

## Variables in R

You can use the <- character to assign a variable, note how it kind of looks like an arrow pointing from the object to the variable name.

In [1]:
# Use hashtags for comments
variable.name <- 100

In [2]:
# Let's see the variable!
variable.name

[1] 100

#### Working with variables
We can use variables together and work with them, for example:

In [3]:
bank.account <- 100

In [4]:
deposit <- 10

In [5]:
bank.account <- bank.account + deposit

In [6]:
bank.account

[1] 110

## Print Formatting
We can use the print() function to print out variables or strings:

In [28]:
print("hello")

[1] "hello"

In [29]:
x <- 10
print(x)

[1] 10

In [30]:
x <- mtcars
print(mtcars)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

### Formatting
We can format strings and variables together for printing in a few different ways:

** paste()**

The paste() function looks like this:

paste (..., sep = " ")

Where ... are the things you want to paste and sep is the separator you want between the pasted items, by default it is a space. For example:

In [31]:
print(paste('hello','world'))

[1] "hello world"

In [32]:
print(paste('hello','world',sep='-|-'))

[1] "hello-|-world"

** paste0()**

paste0(..., collapse) is equivalent to paste(..., sep = "", collapse), slightly more efficiently.

In [33]:
paste0('hello','world')

[1] "helloworld"

##### sprintf
srpintf() is a wrapper for the C function sprintf, that returns a character vector containing a formatted combination of text and variable values. Meaning you can use % codes to place in variables by specifying all of them at the end. This is best shown through example:

In [34]:
sprintf("%s is %f feet tall\n", "Sven", 7.1)

[1] "Sven is 7.100000 feet tall\n"

In [35]:
# THIS WILL PRODUCE AN ERROR BECAUSE 7.1 is a float, not an integer
sprintf("%s is %i feet tall\n", "Sven", 7.1)

ERROR: Error in sprintf("%s is %i feet tall\n", "Sven", 7.1): invalid format '%i'; use format %f, %e, %g or %a for numeric objects

In [36]:
help(sprintf)

## R Data Types

#### Numerics
Decimal (floating point values) are part of the numeric class in R

In [13]:
n <- 2.2

#### Integers¶
Natural (whole) numbers are known as integers and are also part of the numeric class

In [14]:
i <- 5

#### Logical¶
Boolean values (True and False) are part of the logical class. In R these are written in All Caps.

In [15]:
t <- TRUE
f <- FALSE

In [16]:
t

[1] TRUE

In [17]:
f

[1] FALSE

#### Characters
Text/string values are known as characters in R. You use quotation marks to create a text character string:

In [18]:
char <- "Hello World!"

In [19]:
char

[1] "Hello World!"

In [20]:
# Also single quotes
c <- 'Single Quote Char'

In [21]:
c

[1] "Single Quote Char"

#### Checking Data Type Classes
You can use the class() function to check the data type of a variable:

In [22]:
class(t)

[1] "logical"

In [23]:
class(f)

[1] "logical"

In [24]:
class(char)

[1] "character"

In [25]:
class(c)

[1] "character"

In [26]:
class(n)

[1] "numeric"

In [27]:
class(i)

[1] "numeric"