# Contents

* Vectors
    * Basics
    * Operations
    * Indexing and sclicing
* Comparison Operator

## Vector Basics

Vectors are one of the key data structures in R which we wil be using. A vector is a 1 dimensional array that can hold character, numeric, or logical data elements.

We can create a vector by using the combine function c(). To use the function, we pass in the elements we want in the array, with each individual element separated by a comma.

In [1]:
# Using c() to create a vector of numeric elements
nvec <- c(1,2,3,4,5)

In [2]:
class(nvec)

[1] "numeric"

In [3]:
# Vector of characters
cvec <- c('U','S','A')

In [4]:
class(cvec)

[1] "character"

In [5]:
lvec <- c(TRUE,FALSE)

In [6]:
lvec

[1]  TRUE FALSE

In [7]:
class(lvec)

[1] "logical"

Note that we can't mix data types of the elements in an array, R will convert the other elements in the array to force everything to be of the same data type. Later on we will learn about the list data structure that can take on multiple data types!

Here's a quick example of what happens with arrays given different data types:

In [8]:
v <- c(FALSE,2)

In [9]:
v

[1] 0 2

In [10]:
class(v)

[1] "numeric"

In [11]:
v <- c('A',1)

In [12]:
v

[1] "A" "1"

In [13]:
class(v)

[1] "character"

#### Vector Names
We can use the names() function to assign names to each element in our vector. For example, imagine the folowing vector of a week of temperatures:

In [14]:
temps <- c(72,71,68,73,69,75,71)

In [15]:
temps

[1] 72 71 68 73 69 75 71

In [16]:
names(temps) <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')

In [18]:
temps

Mon Tue Wed Thu Fri Sat Sun
 72  71  68  73  69  75  71

In [19]:
days <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
temps2 <- c(1,2,3,4,5,6,7)
names(temps2) <- days

In [20]:
temps2

Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7

### Vectors operations
We can perform basics arithmetic with vectors and operations will occur on an element by element basis, for example:

In [21]:
v1 <- c(1,2,3)
v2 <- c(5,6,7)

#### Adding Vectors

In [22]:
v1+v2

[1]  6  8 10

#### Subtracting Vectors

In [23]:
v1-v2

[1] -4 -4 -4

#### Multiplying Vectors

In [24]:
v1*v2

[1]  5 12 21

#### Dividing Vectors

In [25]:
v1/v2

[1] 0.2000000 0.3333333 0.4285714

#### Operations on different size vectors

In [28]:
v3 <- c(1,2,3,10)

In [29]:
v1+v3

Warning message in v1 + v3:
"longer object length is not a multiple of shorter object length"

[1]  2  4  6 11

In [30]:
v1-v3

Warning message in v1 - v3:
"longer object length is not a multiple of shorter object length"

[1]  0  0  0 -9

#### Functions with Vectors
A function will be in the form:

name_of_function(input)

In [31]:
v1

[1] 1 2 3

In [32]:
sum(v1)

[1] 6

In [33]:
v <- c(12,45,100,2)

In [34]:
# Standard Deviation
sd(v)

[1] 44.16918

In [35]:
#Variance
var(v)

[1] 1950.917

In [36]:
# Maximum Element
max(v)

[1] 100

In [37]:
#Minimum Element
min(v)

[1] 2

In [38]:
# Product of elements
prod(v1)
prod(v2)

[1] 6

[1] 210

### Vector Indexing and Slicing
You can use bracket notation to index and access individual elements from a vector:

In [39]:
v1 <- c(100,200,300)
v2 <- c('a','b','c')

In [40]:
v1
v2

[1] 100 200 300

[1] "a" "b" "c"

Indexing works by using brackets and passing the index position of the element as a number. Keep in mind index starts at 1 (in some other programming languages indexing starts at 0).

In [41]:
# Grab second element
v1[2]

[1] 200

In [42]:
v2[2]

[1] "b"

#### Multiple Indexing
We can grab multiple items from a vector by passing a vector of index positions inside the square brackets. For example:

In [43]:
v1[c(1,2)]

[1] 100 200

In [44]:
v2[c(2,3)]

[1] "b" "c"

In [45]:
v2[c(1,3)]

[1] "a" "c"

#### Slicing
You can use a colon (:) to indicate a slice of a vector. The format is:

vector[start_index:stop_index]

and you will get that "slice" of the vector returned to you. For example:

In [46]:
v <- c(1,2,3,4,5,6,7,8,9,10)

In [47]:
v[2:4]

[1] 2 3 4

In [48]:
v[7:10]

[1]  7  8  9 10

#### Indexing with Names
We've previously seen how we can assign names to the elements in a vector, for example:

In [49]:
v <- c(1,2,3,4)
names(v) <- c('a','b','c','d')

In [50]:
v['a']

a
1

In [51]:
# Notice how we can call out of order!
v[c('a','c','b')]

a c b
1 3 2

### Comparison Operators and Selection

We can use comparison operators to filter out elements from a vector. Sometimes this is referred to as boolean/logical masking, because you are creating a vector of logicals to filter out results you want. Let's see an example of this:

In [52]:
v

a b c d
1 2 3 4

In [53]:
v[v>2]

c d
3 4

In [54]:
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [55]:
filter <- v>2

In [56]:
filter

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [57]:
v[filter]

c d
3 4