## R Basics Exercise

### Solve the following problems using R
#### What is two to the power of five?

[1] 32

#### Create a vector called stock.prices with the following data points: 23,27,23,21,34

[1] 23 27 23 21 34

#### Assign names to the price data points relating to the day of the week, starting with Mon, Tue, Wed, etc...

 Mon Tues  Wed  Thu  Fri
  23   27   23   21   34

#### What was the average (mean) stock price for the week? (You may need to reference a built-in function)

[1] 25.6

#### Create a vector called over.23 consisting of logicals that correspond to the days where the stock price was more than $23

  Mon  Tues   Wed   Thu   Fri
FALSE  TRUE FALSE FALSE  TRUE

#### Use the over.23 vector to filter out the stock.prices vector and only return the day and prices where the price was over $23

Tues  Fri
  27   34

#### Use a built-in function to find the day the price was the highest

Fri
 34

## R Matrix Exercises

#### Create 2 vectors A and B, where A is (1,2,3) and B is (4,5,6). With these vectors, use the cbind() or rbind() function to create a 2 by 3 matrix from the vectors. You'll need to figure out which of these binding functions is the correct choice.

  [,1] [,2] [,3]
A 1    2    3
B 4    5    6

#### Create a 3 by 3 matrix consisting of the numbers 1-9. Create this matrix using the shortcut 1:9 and by specifying the nrow argument in the matrix() function call. Assign this matrix to the variable mat

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

#### Confirm that mat is a matrix using is.matrix()

[1] TRUE

#### Create a 5 by 5 matrix consisting of the numbers 1-25 and assign it to the variable mat2. The top row should be the numbers 1-5.

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

#### Using indexing notation, grab a sub-section of mat2 from the previous exercise that looks like this:

     [,1] [,2]
[1,]  7    8
[2,] 12   13

#### Using indexing notation, grab a sub-section of mat2 from the previous exercise that looks like this:

     [,1] [,2]
[1,] 19   20
[2,] 24   25

#### What is the sum of all the elements in mat2?

[1] 325