## Apply
In this lecture we will learn about 2 different apply() functions. 
* lapply -  When you want to apply a function to each element of a list in turn and get a list back.
* sapply - When you want to apply a function to each element of a list in turn, but you want a vector back, rather than a list.

The basic idea of an apply() is to apply a function over some iterable object.

### lapply()

lapply() will apply a function over a list or vector:

lapply(X, FUN, ...)

where X is your list/vector and FUN is your function. For more info you can use:

In [1]:
help(lapply)

In [2]:
# sample just 1 random number between 1 and 10
sample(x = 1:10,1)

[1] 4

In [3]:
# vector
v <- c(1,2,3,4,5)

# our custom function
addrand <- function(x){
    # Get a random number
    ran <-sample(x=1:10,1)
    
    # return x plus the random number
    return(x+ran)
}

# lapply()
lapply(v,addrand)

[[1]]
[1] 10

[[2]]
[1] 7

[[3]]
[1] 8

[[4]]
[1] 7

[[5]]
[1] 8

### Anonymous Functions

So you noticed that in the last example we had to write out an entire function to apply to the vector, but in reality that function is just doing something pretty simple, adding a random number. Do we really want to have to formally define an entire function for this? We don't want to, especially if we only plan to use this function a single time!
To address this issue, we can create an anonymous function (called this because we won't ever name it). Here's the syntax for an anonymous function in R:

function(a){code here}

This is a similar idea to lambda expressions in Python. So for example we can rewrite the previous function as an anonymous function and use lapply() with it:

In [4]:
v

[1] 1 2 3 4 5

In [5]:
# Anon func with lapply()
lapply(v, function(a){a+sample(x=1:10,1)})

[[1]]
[1] 10

[[2]]
[1] 5

[[3]]
[1] 7

[[4]]
[1] 5

[[5]]
[1] 10

In [6]:
# adds two to every element
lapply(v,function(x){x+2})

[[1]]
[1] 3

[[2]]
[1] 4

[[3]]
[1] 5

[[4]]
[1] 6

[[5]]
[1] 7

Now what if our original function had multiple arguments? lapply() actually let's us deal with that by simply adding them in like this:

In [7]:
add_choice <- function(num,choice){
    return(num+choice)
}

add_choice(2,3)

[1] 5

In [8]:
# Uh oh! Forgot to add other arguments!
lapply(v,add_choice)

ERROR: Error in FUN(X[[i]], ...): argument "choice" is missing, with no default

In [9]:
# Nice!
lapply(v,add_choice,choice=10)

[[1]]
[1] 11

[[2]]
[1] 12

[[3]]
[1] 13

[[4]]
[1] 14

[[5]]
[1] 15

### sapply() 

Notice that lapply returned a list, we can use sapply, which simplifies the process by returning a vector or matrix. For example:

In [10]:
help(sapply)

In [11]:
# Nice! A vector returned
sapply(v,add_choice,choice=10)

[1] 11 12 13 14 15

In [12]:
# let's prove it to ourselves
lapp <- lapply(v,add_choice,choice=10)
sapp <- sapply(v,add_choice,choice=10)

class(lapp) # a list
class(sapp) # vector of numerics

[1] "list"

[1] "numeric"

#### sapply() limitations
sapply() won't be able to automatically return a vector if your applied function doesn't return something for all elements in that vector. For example:

In [13]:
# Checks for even numbers
even <- function(x) {
  return(x[(x %% 2 == 0)])
}

nums <- c(1,2,3,4,5)

sapply(nums,even)

[[1]]
numeric(0)

[[2]]
[1] 2

[[3]]
numeric(0)

[[4]]
[1] 4

[[5]]
numeric(0)

In [14]:
lapply(nums,even)

[[1]]
numeric(0)

[[2]]
[1] 2

[[3]]
numeric(0)

[[4]]
[1] 4

[[5]]
numeric(0)

### Findind count of missing values in dataframe

In [1]:
df <- data.frame(id = c(1,NA,2,NA,4,NA),nm=c('A',"B",NA,NA,NA,'k'))

In [2]:
df

  id nm
1  1 A
2 NA B
3  2 NA
4 NA NA
5  4 NA
6 NA k

In [3]:
sapply(df,function(x){sum(is.na(x))})

id nm
 3  3

### deleting all missing rows

In [4]:
na.omit(df)

  id nm
1 1  A