### Pipe Operator %>%
While you aren't required to ever use the pipe operator with dplyr or tidyr, it can be very useful when trying to perform multiple operations/functions on a data set. The pipe operator will allow you to avoid either a long nested operation or doing a bunch of assignmets.

In its most basic form, this is what an example of using %>% with dplyr looks like:

In [2]:
df <- mtcars
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.3.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

#### Using Nesting

In [3]:
library(dplyr)
arrange(sample_n(filter(df,mpg>20),size=5),desc(mpg))

Warning message:
"package 'bindrcpp' was built under R version 3.3.3"

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
2 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
3 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
4 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
5 21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4

#### Using Multiple Assignments

In [4]:
library(dplyr)
a <- filter(df,mpg > 20)
b <- sample_n(a,size = 5)
c <- arrange(b,desc(mpg))
c

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
2 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
3 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
4 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
5 21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4

#### Using the Pipe Operator

In [5]:
library(dplyr)
df %>% filter(mpg > 20) %>% sample_n(size = 5) %>% arrange(desc(mpg))

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
3 22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

#### group_by()

In [7]:
dim(group_by(df,cyl))

[1] 32 11

In [10]:
df %>% group_by(cyl) %>% summarise(tot_wt=sum(vs))

  cyl tot_wt
1 4   10
2 6    4
3 8    0