### tidyr 

is a complementary package that will help us create tidy data sets! 

So what do we mean when we say "tidy data"?

Tidy data is when we have a data set where every row is an observation and every column is a variable, this way the data is organized in such a way where every cell is a value for a specific variable of a specific observation. 

Having your data in this format will help build an understanding of your data and allow you to analyze or visualize it quickly and efficiently.

In [ ]:
install.packages('tidyr',repos = 'http://cran.us.r-project.org')

In [1]:
library(tidyr)

Warning message:
"package 'tidyr' was built under R version 3.3.3"

#### Using tidyr
We'll cover some of the most useful functions in tidyr. Including the following:
* gather()
* spread()
* separate()
* unite()
Which basically perform the following actions:
![](tidyr.png)

In [2]:
comp <- c(1,1,1,2,2,2,3,3,3)
yr <- c(1998,1999,2000,1998,1999,2000,1998,1999,2000)
q1 <- runif(9, min=0, max=100)
q2 <- runif(9, min=0, max=100)
q3 <- runif(9, min=0, max=100)
q4 <- runif(9, min=0, max=100)

df <- data.frame(comp=comp,year=yr,Qtr1 = q1,Qtr2 = q2,Qtr3 = q3,Qtr4 = q4)

In [3]:
df

  comp year Qtr1      Qtr2     Qtr3      Qtr4
1 1    1998 90.411598 78.39619 11.670574 35.327891
2 1    1999 51.638577 26.21051 81.938727 90.771895
3 1    2000 32.563391 25.47253 18.109562 14.077333
4 2    1998  1.369264 90.72584 21.164542 56.351912
5 2    1999 93.889504 42.56093 38.072993 47.818591
6 2    2000 39.035870 20.88066 72.318015  8.922451
7 3    1998 98.432074 77.44286 17.096590 16.491282
8 3    1999 87.682781 37.49570  2.159055 80.141546
9 3    2000 51.058822 68.94565 18.174035 41.611849

#### gather()
The gather() function will collapse multiple columns into key-pair values. The data frame above is considered wide since the time variable (represented as quarters) is structured such that each quarter represents a variable. To re-structure the time component as an individual variable, we can gather each quarter within one column variable and also gather the values associated with each quarter in a second column variable.

In [4]:
# Using Pipe Operator
head(df %>% gather(Quarter,Revenue,Qtr1:Qtr4))

  comp year Quarter Revenue
1 1    1998 Qtr1    90.411598
2 1    1999 Qtr1    51.638577
3 1    2000 Qtr1    32.563391
4 2    1998 Qtr1     1.369264
5 2    1999 Qtr1    93.889504
6 2    2000 Qtr1    39.035870

In [5]:
# With just the function
head(gather(df,Quarter,Revenue,Qtr1:Qtr4))

  comp year Quarter Revenue
1 1    1998 Qtr1    90.411598
2 1    1999 Qtr1    51.638577
3 1    2000 Qtr1    32.563391
4 2    1998 Qtr1     1.369264
5 2    1999 Qtr1    93.889504
6 2    2000 Qtr1    39.035870

#### spread()
This is the complement of gather(), which is why its called spread():

In [6]:
stocks <- data.frame(
  time = as.Date('2009-01-01') + 0:9,
  X = rnorm(10, 0, 1),
  Y = rnorm(10, 0, 2),
  Z = rnorm(10, 0, 4)
)
stocks

   time       X           Y          Z
1  2009-01-01 -0.67617504  0.5373382  1.2713331
2  2009-01-02 -0.73874289  0.4867887  4.0688372
3  2009-01-03 -0.14114617 -0.3510557 -0.3192114
4  2009-01-04 -0.28869712  2.4373541  8.6399955
5  2009-01-05 -0.07698958  1.2369380 -1.0573427
6  2009-01-06  0.36590506  1.9921965 -0.6378107
7  2009-01-07  2.38829606  2.5406383  2.4057947
8  2009-01-08  2.40330976  0.6556786  1.1706668
9  2009-01-09 -0.72113029  3.1957786 -0.4922158
10 2009-01-10 -0.32945186  1.7061675  4.2872891

In [10]:
stocksm <- stocks %>% gather(stock, price, -time)
stocksm

   time       stock price
1  2009-01-01 X     -0.67617504
2  2009-01-02 X     -0.73874289
3  2009-01-03 X     -0.14114617
4  2009-01-04 X     -0.28869712
5  2009-01-05 X     -0.07698958
6  2009-01-06 X      0.36590506
7  2009-01-07 X      2.38829606
8  2009-01-08 X      2.40330976
9  2009-01-09 X     -0.72113029
10 2009-01-10 X     -0.32945186
11 2009-01-01 Y      0.53733815
12 2009-01-02 Y      0.48678866
13 2009-01-03 Y     -0.35105570
14 2009-01-04 Y      2.43735406
15 2009-01-05 Y      1.23693797
16 2009-01-06 Y      1.99219648
17 2009-01-07 Y      2.54063832
18 2009-01-08 Y      0.65567861
19 2009-01-09 Y      3.19577860
20 2009-01-10 Y      1.70616751
21 2009-01-01 Z      1.27133311
22 2009-01-02 Z      4.06883718
23 2009-01-03 Z     -0.31921141
24 2009-01-04 Z      8.63999552
25 2009-01-05 Z     -1.05734265
26 2009-01-06 Z     -0.63781069
27 2009-01-07 Z      2.40579473
28 2009-01-08 Z      1.17066678
29 2009-01-09 Z     -0.49221580
30 2009-01-10 Z      4.28728910

In [11]:
stocksm %>% spread(stock, price)

   time       X           Y          Z
1  2009-01-01 -0.67617504  0.5373382  1.2713331
2  2009-01-02 -0.73874289  0.4867887  4.0688372
3  2009-01-03 -0.14114617 -0.3510557 -0.3192114
4  2009-01-04 -0.28869712  2.4373541  8.6399955
5  2009-01-05 -0.07698958  1.2369380 -1.0573427
6  2009-01-06  0.36590506  1.9921965 -0.6378107
7  2009-01-07  2.38829606  2.5406383  2.4057947
8  2009-01-08  2.40330976  0.6556786  1.1706668
9  2009-01-09 -0.72113029  3.1957786 -0.4922158
10 2009-01-10 -0.32945186  1.7061675  4.2872891

In [9]:
stocksm %>% spread(time, price)

  stock 2009-01-01 2009-01-02 2009-01-03  2009-01-04 2009-01-05 2009-01-06
1 X     -1.699440   1.7024699  0.41987631 -0.1469487  0.2435578 -0.3095353
2 Y      1.223239  -0.7459296  1.98558721 -3.3565078  2.4636961  0.5251956
3 Z     10.612818   0.3913905 -0.04911801 -0.6384783 -0.1425639  0.9769487
  2009-01-07  2009-01-08 2009-01-09 2009-01-10
1 -0.05923807  1.339786  -0.1638388  0.3425066
2  0.90532909  3.610204   2.4465776 -1.1781083
3  0.22707234 -6.765140  -1.0085843 -4.8942197

#### separate()
Given either regular expression or a vector of character positions, separate() turns a single character column into multiple columns.

In [10]:
df <- data.frame(x = c(NA, "a.x", "b.y", "c.z"))
df

  x
1 NA
2 a.x
3 b.y
4 c.z

In [11]:
df %>% separate(x, c("ABC", "XYZ"))

  ABC XYZ
1 NA  NA
2 a   x
3 b   y
4 c   z

#### unite()
Unite is a convenience function to paste together multiple columns into one.

In [13]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [14]:
unite_(mtcars, "vs.am", c("vs","am"),sep = '.')

                    mpg  cyl disp  hp  drat wt    qsec  vs.am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0.1   4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0.1   4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1.1   4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1.0   3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0.0   3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1.0   3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0.0   3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1.0   4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1.0   4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1.0   4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1.0   4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0.0   3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0.0   3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0.0   3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0.0   3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0.0   3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0.0   3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1.1   4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1.1   4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1.1   4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1.0   3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0.0   3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0.0   3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0.0   3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0.0   3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1.1   4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0.1   5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1.1   5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0.1   5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0.1   5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0.1   5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1.1   4    2

In [15]:
# Separate is the complement of unite
mtcars %>%
  unite(vs_am, vs, am) %>%
  separate(vs_am, c("vs", "am"))

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2