In [ ]:
library(sqldf)

In [ ]:
df1 <- data.frame(id = c(1,2,3,5),nm = letters[1:4])
df2 <- data.frame(id = c(1:4),addr = LETTERS[1:4])

### General operations

#### Count rows

In [ ]:
sqldf('select count(*) from df1')

#### top n rows

In [ ]:
sqldf("select * from df1 limit 3")

#### rename columns

In [ ]:
sqldf("select id as id1 from df1 limit 3")

#### Filter

In [ ]:
sqldf("select * from df1 where id < 3")

In [ ]:
sqldf("select * from df1 where id < 3 and nm = 'a'")

#### Order

In [ ]:
sqldf("select * from df1 order by  id desc")

In [ ]:
df3 <- data.frame(id=c(1,1,1,2,2,2), sal = c(10,10,10,20,20,20))

#### basic aggregations

In [ ]:
sqldf("select id,sum(sal) as tot_sal from df3 group by id")

In [ ]:
sqldf("select id,mean(sal) as tot_sal from df3 group by id")

In [ ]:
sqldf("select id,min(sal) as tot_sal from df3 group by id")

#### having

In [ ]:
 sqldf("select id,sum(sal) as tot_sal from df3 group by id having tot_sal > 40")

#### create new column based on existing col value

In [ ]:
sqldf("select id, sal, case when sal < 11 then 'low' else 'high' end as 'sal_cat' from df3 limit 10")

### Joins

![](SQL.png)

#### inner

In [ ]:
sqldf(' select a.id,nm,addr from df1 as a, df2 as b where a.id = b.id')

In [ ]:
sqldf(' select a.id,nm,addr from df1 as a inner join df2 as b on a.id = b.id')

#### left

In [ ]:
sqldf(' select a.id,nm,addr from df1 as a left join df2 as b on a.id = b.id')