# Decision Trees in Python

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Get the Data

In [15]:
df = pd.read_csv('advertising.csv')

In [16]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [17]:
df.drop('Timestamp',axis=1,inplace=True)
df.drop('Ad Topic Line',axis=1,inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
Daily Time Spent on Site    1000 non-null float64
Age                         1000 non-null int64
Area Income                 1000 non-null float64
Daily Internet Usage        1000 non-null float64
Male                        1000 non-null int64
Clicked on Ad               1000 non-null int64
dtypes: float64(3), int64(3)
memory usage: 47.0 KB

In [19]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'City', 'Male', 'Country', 'Clicked on Ad'],
      dtype='object')

In [20]:

var = ['City', 'Country']
for v in var:
    print ('\nFrequency count for variable %s'%v)
    print (df[v].value_counts())

Frequency count for variable City
Lisamouth              3
Williamsport           3
Lake Patrick           2
Port Jason             2
West Amanda            2
New Sheila             2
Lake Jose              2
Wrightburgh            2
West Steven            2
Port Juan              2
Port Julie             2
Lake James             2
Benjaminchester        2
North Daniel           2
New Jessicaport        2
Millertown             2
Shelbyport             2
West Shannon           2
Robertfurt             2
Lake David             2
Lake Susan             2
Johnstad               2
East Timothy           2
Michelleside           2
East John              2
Pamelamouth            2
Joneston               2
South Lisa             2
Millerbury             2
Riggsstad              1
                      ..
Christopherport        1
Teresahaven            1
Wilsonburgh            1
New Williamville       1
East Graceland         1
Chrismouth             1
Port Sarahshire        1
North Jeremyport       1
Cannonbury             1
New Michaeltown        1
Tinaton                1
Port Stacey            1
Chapmanland            1
Port Danielleberg      1
North Kimberly         1
Duffystad              1
Townsendfurt           1
Lake Michaelport       1
Lake Allenville        1
Lake Danielle          1
West Zacharyborough    1
Evansfurt              1
South Mark             1
North Frankstad        1
Jeremyshire            1
Richardsonland         1
Juliaport              1
East Lindsey           1
Luischester            1
Hartmanchester         1
Name: City, Length: 969, dtype: int64

Frequency count for variable Country
Czech Republic                                         9
France                                                 9
Australia                                              8
Greece                                                 8
South Africa                                           8
Liberia                                                8
Micronesia                                             8
Cyprus                                                 8
Senegal                                                8
Peru                                                   8
Afghanistan                                            8
Turkey                                                 8
Western Sahara                                         7
Venezuela                                              7
Cambodia                                               7
Luxembourg                                             7
Eritrea                                                7
Burundi                                                7
Ethiopia                                               7
Bosnia and Herzegovina                                 7
Bahamas                                                7
Albania                                                7
Fiji                                                   7
Taiwan                                                 7
Belarus                                                6
Jersey                                                 6
Singapore                                              6
Zimbabwe                                               6
Lebanon                                                6
Hong Kong                                              6
                                                      ..
Colombia                                               2
Pitcairn Islands                                       2
Bhutan                                                 2
Kuwait                                                 2
Sao Tome and Principe                                  2
Macedonia                                              2
Reunion                                                2
Saint Barthelemy                                       2
Uzbekistan                                             2
Guinea-Bissau                                          2
Panama                                                 2
Argentina                                              2
Central African Republic                               2
Andorra                                                2
Sierra Leone                                           2
New Caledonia                                          2
Mozambique                                             1
Slovenia                                               1
Lesotho                                                1
Jordan                                                 1
Marshall Islands                                       1
Kiribati                                               1
Romania                                                1
British Indian Ocean Territory (Chagos Archipelago)    1
Cape Verde                                             1
Saint Kitts and Nevis                                  1
Germany                                                1
Montserrat                                             1
Aruba                                                  1
Bermuda                                                1
Name: Country, Length: 237, dtype: int64

In [21]:
df.drop('City',axis=1,inplace=True)
df.drop('Country',axis=1,inplace=True)

## Decision Trees

We'll start just by training a single decision tree.

In [23]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Clicked on Ad',axis=1), 
                                                    df['Clicked on Ad'], test_size=0.30, 
                                                    random_state=101)

In [30]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [31]:
dtree = DecisionTreeClassifier(criterion='entropy')

In [32]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [33]:
X_train.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Male'],
      dtype='object')

## Prediction and Evaluation 

Let's evaluate our decision tree.

In [34]:
predictions = dtree.predict(X_test)

In [35]:
from sklearn.metrics import classification_report,confusion_matrix

In [36]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.95      0.95      0.95       157
          1       0.94      0.94      0.94       143

avg / total       0.95      0.95      0.95       300

In [37]:
print(confusion_matrix(y_test,predictions))

[[149   8]
 [  8 135]]

In [ ]:
table(predicted.values.test,final.test$target)