# Contents

* Logical Operators
* If Else
* Loops
    * while
    * For
* Functions

## Logical Operators

Logical Operators will allow us to combine multiple comparison operators. The logical operators we will learn about are:
* AND - &
* OR - |
* NOT - !

In [1]:
# Imagine the variable x
x <- 10

In [2]:
x < 20

[1] TRUE

In [3]:
x < 20 & x > 5

[1] TRUE

In [4]:
(x < 20) & (x>5)

[1] TRUE

In [5]:
(x < 20) & (x>5) & (x == 10)

[1] TRUE

In [6]:
x==2 & x > 1

[1] FALSE

Returned FALSE because while x > 1 is TRUE, we need BOTH to be TRUE, thus the AND statement &. What if we only want one of them to be true? That's when we use OR |. For example:

In [7]:
x==2 | x > 1

[1] TRUE

Here we only need one or the other to be true!

In [8]:
x==1 | x==12

[1] FALSE

#### NOT !
You can think about NOT as reversing any logical value in front of it, basically asking, "Is this NOT true?" For example:

In [9]:
(10==1)

[1] FALSE

In [11]:
!(10==1)

[1] TRUE

In [12]:
# We can stack them (pretty uncommon, but possible)
!!(10==1)

[1] FALSE

#### Use Case Example
Here's a quick example of a real use case for these operators. Imagine the following data frame:

In [13]:
df <- mtcars

In [14]:
df

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [15]:
df[df['mpg'] >= 20,] # Notice the use of indexing with the comma
# subset(df,mpg>=20) # Could also use subset

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [16]:
df[(df['mpg'] >= 20) & (df['hp'] > 100),]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

#### Logical Operators with Vectors
We have two options when use logical operators, a comparison of the entire vectors element by element, or just a comparison of the first elements in the vectors, to make sure the output is a single Logical

In [17]:
tf <- c(TRUE,FALSE)
tt <- c(TRUE,TRUE)
ft <- c(FALSE, TRUE)

In [18]:
tt & tf

[1]  TRUE FALSE

In [19]:
tt | tf

[1] TRUE TRUE

In [20]:
ft && tt

[1] FALSE

## if, else, else if Statements
Now it is time to finally start learning how we can program some sort of logic using R! Our first step in this learning journey for programming will be simple if, else, and else if statements.

Here is the syntax for an if statement in R:

if (condition){
    # Execute some code
}

So what does this actually mean if you've never seen an if statement before? It means that we can begin to apply some simple logic to our code. We say if some condition is true then execute the code inside of the curly brackets.

For example, let's say we have two variables, hot and temp. Imagine that hot starts off as FALSE and temp is some number in degrees. If the temp is greater than 80 than we want to assign hot==TRUE.

In [21]:
hot <- FALSE
temp <- 60

In [22]:
if (temp > 80){
    hot <- TRUE
    
}
hot

[1] FALSE

In [23]:
# Reset temp
temp <- 100

if (temp > 80){
    hot <- TRUE
    
}

hot

[1] TRUE

#### else
If we want to execute another block that occurs if the if statement is false, we can use an else statement to do this! It has the syntax:

if (condition) {
  #Code to execute if true
  
} else {
  #Code to execute if above was not true
  
}

Notice the alignment of the curly brackets and the use of the else keyword. Let's see it in action!

In [24]:
temp <- 30

if (temp > 90){
    print("Hot outside!")
} else{
    print("Its not too hot today!")
}

[1] "Its not too hot today!"

#### else if
What if we wanted more options to print out, rather than just two, the if and the else? This is where we can use the else if statement to add multiple condition checks, using else at the end to execute code if none of our conditions match up with and if or else if.

In [25]:
temp <- 30

if (temp > 80){
    print("Hot outside!")
} else if(temp<80 & temp>50){
    print('Nice outside!')
} else if(temp <50 & temp > 32){
    print("Its cooler outside!")
} else{
    print("Its really cold outside!")
}

[1] "Its really cold outside!"

In [26]:
temp <- 75

if (temp > 80){
    print("Hot outside!")
} else if(temp<80 & temp>50){
    print('Nice outside!')
} else if(temp <50 & temp > 32){
    print("Its cooler outside!")
} else{
    print("Its really cold outside!")
}

[1] "Nice outside!"

## Loops

### while loops
while loops are a while to have your program continuously run some block of code until a condition is met (made TRUE). The syntax is:

while (condition){

    #Code executed here 
    #while condition is true
}

A major concern when working with a while loop is to make sure that at some point the condition should become true, otherwise the while loop will go forever! Remember you can use Crtl-C to kill a process in R Studio!
Here's a real quick side note on printing variables along with strings:

In [27]:
print('Just a string')

[1] "Just a string"

In [28]:
var <- 'a variable'
cat('My variable is: ',var)

My variable is:  a variable

In [29]:
var <- 25
cat('My number is:',var)

My number is: 25

In [30]:
# Could also use:
print(paste0("Variable is: ", var))

[1] "Variable is: 25"

We'll be using the cat function in the next example which shows how a while loop works:

In [31]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"

Let's add an if statement to this logic!

In [32]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
    if(x==10){
        print("x is equal to 10! Terminating loop")
    }
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"
[1] "x is equal to 10! Terminating loop"

#### break
You can use break to break out of a loop. Previously we showed an if statement checking for 10, but this wasn't actually stopping the loop, the while condition check on the next run stopped the loop, let's show an example where we could use break to terminate the loop:

In [33]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
    if(x==10){
        print("x is equal to 10!")
        print("I will also print, woohoo!")
    }
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"
[1] "x is equal to 10!"
[1] "I will also print, woohoo!"

In [34]:
x <- 0

while(x < 10){
    
    cat('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    
    # add one to x
    x <- x+1
    if(x==10){
        print("x is equal to 10!")
        break
        print("I will also print, woohoo!")
    }
}

x is currently:  0[1] " x is still less than 10, adding 1 to x"
x is currently:  1[1] " x is still less than 10, adding 1 to x"
x is currently:  2[1] " x is still less than 10, adding 1 to x"
x is currently:  3[1] " x is still less than 10, adding 1 to x"
x is currently:  4[1] " x is still less than 10, adding 1 to x"
x is currently:  5[1] " x is still less than 10, adding 1 to x"
x is currently:  6[1] " x is still less than 10, adding 1 to x"
x is currently:  7[1] " x is still less than 10, adding 1 to x"
x is currently:  8[1] " x is still less than 10, adding 1 to x"
x is currently:  9[1] " x is still less than 10, adding 1 to x"
[1] "x is equal to 10!"

Notice how the break stopped the "I will also print, woohoo!" from occuring. You can use this as an internal check inside a while loop to stop is based off some other condition.

### for loops
A for loop allows us to iterate over an object (such as a vector) and we can then perform and execute blocks of codes for every loop we go through. The syntax for a for loop is:

for (temporary_variable in object){
    # Execute some code at every loop
}


Let's start off by showing how to use a for loop with a vector:

#### For loop over a vector
We can think of looping through a vector in two different ways, the first way would be to create a temporary variable with the use of the in keyword:

In [35]:
vec <- c(1,2,3,4,5)

In [36]:
for (temp_var in vec){
    print(temp_var)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

The other way would be to loop a numbered amount of times and then use indexing to continually grab from the vector:

In [37]:
for (i in 1:length(vec)){
    print(vec[i])
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

#### For loop over a list
We can do the same thing with a list:

In [38]:
li <- list(1,2,3,4,5)

In [39]:
for (temp_var in li){
    print(temp_var)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [40]:
for (i in 1:length(li)){
    print(li[[i]]) # Remember to use double brackets!
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

#### For loop with a matrix
We can similarly loop through each individual element in a matrix:

In [41]:
mat <- matrix(1:25,nrow=5)
mat

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     6   11   16   21
[2,] 2     7   12   17   22
[3,] 3     8   13   18   23
[4,] 4     9   14   19   24
[5,] 5    10   15   20   25

In [42]:
for (num in mat){
    print(num)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15
[1] 16
[1] 17
[1] 18
[1] 19
[1] 20
[1] 21
[1] 22
[1] 23
[1] 24
[1] 25

#### Nested for loops
We can nest for loops inside one another,however be careful when doing this, as every additional for loop nested inside another may cause a significant amount of additional time for your code to finish executing. For example:

In [43]:
for (row in 1:nrow(mat)){
    for (col in 1:ncol(mat)){
        print(paste('The element at row:',row,'and col:',col,'is',mat[row,col]))
    }
}

[1] "The element at row: 1 and col: 1 is 1"
[1] "The element at row: 1 and col: 2 is 6"
[1] "The element at row: 1 and col: 3 is 11"
[1] "The element at row: 1 and col: 4 is 16"
[1] "The element at row: 1 and col: 5 is 21"
[1] "The element at row: 2 and col: 1 is 2"
[1] "The element at row: 2 and col: 2 is 7"
[1] "The element at row: 2 and col: 3 is 12"
[1] "The element at row: 2 and col: 4 is 17"
[1] "The element at row: 2 and col: 5 is 22"
[1] "The element at row: 3 and col: 1 is 3"
[1] "The element at row: 3 and col: 2 is 8"
[1] "The element at row: 3 and col: 3 is 13"
[1] "The element at row: 3 and col: 4 is 18"
[1] "The element at row: 3 and col: 5 is 23"
[1] "The element at row: 4 and col: 1 is 4"
[1] "The element at row: 4 and col: 2 is 9"
[1] "The element at row: 4 and col: 3 is 14"
[1] "The element at row: 4 and col: 4 is 19"
[1] "The element at row: 4 and col: 5 is 24"
[1] "The element at row: 5 and col: 1 is 5"
[1] "The element at row: 5 and col: 2 is 10"
[1] "The element at row: 5 and col: 3 is 15"
[1] "The element at row: 5 and col: 4 is 20"
[1] "The element at row: 5 and col: 5 is 25"